/* Base Application Styles */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css);

img {
  margin: 10px auto;
  background: #fff;
  display: block;
  cursor: pointer;
}

.title {
  color: black;
}

.subtitle {
  color: red;
}

.navbar {
  border-radius: 0px!important;
}

p {
  color: white;
}
